<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :airship_id, "Código o identificación del avión" %>
    <%= f.select :airship_id, Airship.all.collect{|c| [c.ship_code, c.ship_code]}%>
  </div>

  <div>
    <%= f.label :route_id, "Código de la ruta" %>
    <%= f.select :route_id, Route.all.collect{|c| [c.code, c.code]} %>
  </div>

   <div class="field">
    <%= f.label :date, "día y hora del vuelo"%><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
