<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @route.origin %>
</p>

<p>
  <strong>Destiny:</strong>
  <%= @route.destiny %>
</p>

<p>
  <strong>Code:</strong>
  <%= @route.code %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @route.cost %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
